body {

	background-color: #78866B;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 50px 50px;
  font-family:Arial; 
  padding-top: 70px;
}

nav {
	position: fixed;
}

/*JS ile devamlı değişecek, carousel gibi
*/


.ustobje {
	display: none;
	border:1px;
	background-image: url('img/bedelli.jpg');
	background-size: cover;
	background-position: center;
	border-radius:20px;
	height: 250px;
}

.hesaplama {
	background-color:#e7e7e7;
	border:1px;
	/*background-image: url('img/bedelli.jpg');*/
	background-size: cover;
	background-position: center;
	border-radius:20px;
	height: 250px;
	text-align: center;
	padding-top: 15px;
	}

.separate{
	padding-top: 20px;
}

.separate2{
	padding-top: 40px;
}

.bedellidurum {
	background-color:#e7e7e7;
	padding-bottom:25px; 
	border-radius:20px;
	text-align:center;

}

.haber {
	background-color: #e7e7e7;
	padding:10px; 
	border-radius:20px;
}

.tarih {
	font-family: pt_sandbols;
	font-size:15;
	font-weight: bold;
	color:gray;
	text-align:center; 
}

.baslik {
	font-family: pt_sansbols;
	font-size: 30px;
	font-weight: normal;
	text-align:left;
	color:black;
}

@media (min-width: 768px){
        .bedellidurum {
          position: fixed;
          left:74%;
        }

        .ustobje {
        	display: inline;
        }
    }