<template name="haber">
	{{#each listele}}
	{{#if confirmedOrNot}}
	<div class="col-md-9 haber">
		<div class="row">	
			<div class="col-md-3 tarih" style="margin-top: 50px;">
				<a href="http://www.hurriyet.com.tr"><img src="http://www.hurriyet.com.tr/p/2014/hurriyet-logo.png"></a>
				<br>{{tarih}}
			</div>
			<div class="col-md-9">
				<div class="baslik">
					<a href="http://'{{haberLinkim}}'" target="_blank">
					{{haberBasligi}}
					</a>
				</div>
				<div>
					<a href="http://{{haberLinkim}}" target="_blank">
					{{haberIcerigi}}
					</a>
				</div>
			</div>
			
		</div>
		</div>
	<div class="col-md-9 separate2"></div>
	{{/if}}
	{{/each}}
</template>
