<template name="haber">
	<div class="col-md-9 haber">
		<div class="row">
			<div class="col-md-3 tarih">
				<a href="http://www.hurriyet.com.tr"><img src="http://www.hurriyet.com.tr/p/2014/hurriyet-logo.png"></a>
				<br>19 Kasım 2014
			</div>
			<div class="col-md-9">
				<div class="baslik">
					Erdoğan'dan flaş bedelli askerlik açıklaması
				</div>
				<div>Cumhurbaşkanı Erdoğan, Cezayir ziyareti öncesi Esenboğa Havalimanı'nda gündeme dair değerlendirmelerde bulundu. Gazetecilerin bedelli askerlik ile ilgili sorularını yanıtlayan Erdoğan, ''Şu anda bunun artıları var eksileri var, böyle bir dönemin içindeyiz. Birileri çıkıp zaman zaman bu işi kaşıyorlar. Bunlar doğru yaklaşım tarzı değil. Burada TSK’nın kanaatini bir kenara koymak da mümkün değil. Cumhurbaşkanı olarak bende bu olayın artı ve eksilerini ilgili mercilerle değerlendirerek karar vermek zorundayım. Sırtımızda ağır bir küfe var'' dedi.
				</div>
			</div>
		</div>
		</div>

	<div class="col-md-9 separate2"></div>
	</template>