<template name="haber">
	{{#each listele}}
	{{#if confirmedOrNot}}
	<div class="col-md-9 haber">
		<div class="row">	
			<div class="col-md-3 tarih">
				<a href="{{haberLinki}}" target="_blank"><img src="img/gazetelogo/{{gazeteAdi}}.png" style="width:200px; height:50px;"></a>
				<br>{{tarih}}
			</div>
			<div class="col-md-9">
				<div class="baslik">
					{{haberBasligi}}
				</div>
				<div>
					<p id="icerikclass">{{haberIcerigi}}</p>
				</div>
			</div>
			
		</div>
		</div>
	<div class="col-md-9 separate2"></div>
	{{/if}}
	{{/each}}
</template>
