<template name="hesaplama">
<div class="hesaplama">
  <h1 style='color:red;'>
    Bedelli Hesaplama
  </h1>
  <form name="bedelForm" onChange="bedelHesap()">
    <p>
      Dogum Tarihi:
      
      <div class="input-group datetimepicker">
        <span class="input-group-addon">
          <input class="set-due-date form-control" data-date-format="DD/MM/YYYY" type="text"/>
        </span>
      </div>

    </p>
  </form>
  <h3 style="color:blue">
    <div id="durum">
      Tarih Giriniz
    </div>
  </h3>
  </div>
</template>
