<template name="layout">
	<div class="topbackdiv">
		Bedelli Askerlik
	</div>
	<div class="bottombackdiv">
		{{> bedellidurum}}
		<div class="row">
			<div class="col-md-4 leftcol" >
				{{> hesaplama}}
			</div>
			<div class="col-md-8 rightcol">
				 {{#if currentUser}}
				<div class="col-md-4 haberEkleSw">
				<span><span class="glyphicon glyphicon-plus" aria-hidden="true"> 
				</span>&nbsp; Haber Ekle</span>
				</div>
				{{/if}}

				<div class="col-md-8">

				</div>

				{{#if sessionHaberekle}}
					{{> haberekle}}
				{{/if}}

				{{> haber}}
			</div>
		</div>
	</div>
</template>