<template name="signupForm">
  <form id="signup-form">
    <h2>Üye Ol</h2>

<table style="width:100%;">

    <tr>
      <th>Email:</th>
      <th><input type="text" id="signup-email" placeholder="Email" /></th>
    </tr>

    <tr>
      <th>Şifre:</th>
      <th><input type="password" id="signup-password" placeholder="Şifre" /></th>
    </tr>

    <tr>
      <th>İsim:</th>
      <th><input type="text" id="signup-name" placeholder="İsim" /></th>
    </tr>
    <tr>
      <th>Soyad:</th>
      <th><input type="text" id="signup-surname" placeholder="Soyad" /></th>
    </tr>
    <tr>
      <th>Doğum Tarihi:</th>
      <th><input type="text" id="signup-birthdate" placeholder="Doğum Tarihi" /></th>
    </tr>
    <tr> 
    <th></th>     
      <th><button type="submit">Kaydol</button></th>
    </tr>
  </table>
  </form>
  <br>
<button class="login-button btn btn-block btn-Facebook">Sign in with Facebook</button>
</template>
