<template name="ustmenu">

<div id="ustmenu">			
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Bedelli çıktı mı? </span>
      {{#if evetHayir}}
      <span class="navbar-brand" style="color:green;">Evet!</span>
      {{else}}
	   <span class="navbar-brand" style="color:red;">Hayır!</span>
    {{/if}}
	  <span class="navbar-brand" >&nbsp;&nbsp;&nbsp; </span>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menucuk">
        <li id="menucukHaberler" class="active"><a href="#" id="haberler">Haberler <span class="sr-only">(current)</span></a></li> 

        <li id="menucukHesaplama"><a href="#" id="hesaplama">Bedelli Hesaplama</a></li>
        {{#if currentUser}}
        <li id="menucukHaberEkle"><a href="#" id="haberekleme">Haber Ekle</a></li>
        {{/if}}     
      </ul>      
      <ul class="nav navbar-nav navbar-right">
         {{> loginButtons}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div> <!--- ust menu -->
</template>